body{background: lightblue;}
h1{text-align: left;
	color:	 green;}
#t_1{border: 10;}
#div_1{background: #ccffe6;}
.div_2{background: #b3b3ff;}
.o_l_1{color: #fff5cc;}
#u_l_1{background:#ffb399;}